<% title "News Posts" %>
<% if logged_in? %>
<div>
	<%= link_to "New Post", new_post_path %>
</div>
<% end %>
<div style="padding-top: 1em">
<% Post.order('created_at desc').each do |post| %>
	<div>
		<h3><%= link_to post.title, post %></h3>
	</div>
<% end %>
</div>